{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "node": "4"
        }
      }
    ]
  ],
  "plugins": ["add-module-exports"]
}
